@charset "utf-8";

/* Reset de espaçamento */
* {
  margin: 0;
  padding: 0;
}

/* Básico e geral */
body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

/* Agrupamento de títulos para animar */
h1 {
  animation: titleAni 3s linear infinite alternate;
}

/* Títulos h2 das sessões */
h2 {
  font-size: 23pt;
  font-weight: 700;
  margin: 60px 0 50px;
}

/* Formatação geral para ul */
ul {
  list-style-type: none;
  width: 100%;
}

/* Formatação do container da página */
.corpo {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
  background: url('https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_960_720.jpg') no-repeat;
  /* background: url('https://cdn.pixabay.com/photo/2020/05/07/04/01/digitization-5140071_960_720.jpg') no-repeat; */
  background-size: cover;
}

/* .cabecalho, */
.habs, .portfolio {
  background: linear-gradient(rgb(4, 4, 77), blue);
}

/* Formatação do cabeçalho */
.cabecalho {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  text-align: center;
  width: 100%;
}

/* Título */
.titulo {
  font-size: 27pt;
  margin: 120px 0 100px;
  padding: 5px;
}

/* Formatação da nav */
.bar-options {
  display: flex;
  /* width: 100%; */
}

/* índice */
.indice {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
  width: 98vw;
}

/* Links do índice */
.indice a {
  background: linear-gradient(rgb(34, 32, 32), black);
  border: 1px solid #333;
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: center;
  padding: 15px;
  margin: 7px 3px;
  transition: background-color 1s;
}

.indice a:hover {
  background: linear-gradient(to right, rgb(4, 4, 90), blue, rgb(4, 4, 90));
  color: white;
  font-weight: 700;
  box-shadow: 0 5px 10px 1px rgba(255, 255, 255, 0.75);
  transition: box-shadow 500ms linear;
}

/* Formatação do conteúdo principal */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Sessão de apresentação */
.apresentacao {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

/* Estilo para meu nome */
.meu-nome {
  font-size: 24pt;
  margin-bottom: 30px;
  text-align: center;
}

/* Formata minhas informações */
.sinopse {
  display: flex;
  flex-direction: column;
  height: 126vh;
}

/* Formata minha foto */
.foto {
  border-radius: 8px;
  box-shadow: -10px 10px 10px blue;
}

/* 
  Configurar para Desktop
.foto:hover {
  box-shadow: -10px 10px 10px blue;
} */

/* Sobre mim. Formata minhas informações */
.description {
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 8px;
  box-shadow: 10px 10px 10px white;
  font-size: 14pt;
  line-height: 17pt;
  margin: 20px;
  padding: 25px;
  /* transition: background-color, color 1.2s; Configurar no Desktop
  -webkit-transition: background-color 1s, color 1s, box-shadow 1s; */
}

.description:hover {
  /* https://2.bp.blogspot.com/-zO8hwvt7iMk/XAVxt4aoQvI/AAAAAAAAwa0/_01xZj87g04GvxpSEKEGRVBEWggW-fC5gCLcBGAs/s1600/7T9364v.gif */
  /* https://thumbs.gfycat.com/BewitchedAntiqueAllensbigearedbat-size_restricted.gif */
  /*  */
  /*  */
  background: radial-gradient(rgba(100, 100, 100, 0.3), rgb(6, 6, 112)), url('https://thumbs.gfycat.com/BewitchedAntiqueAllensbigearedbat-size_restricted.gif');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 10px white;
  color: white;
}

/*
 Configurar para Desktop
.description:hover {
  background-color: rgba(100, 100, 100, 0.3);
  box-shadow: 10px 10px 10px white;
  color: white;
} */

.description span {
  font-weight: 900;
}

.description span a {
  color: green;
  font-weight: 700;
  text-decoration: none;
}

/* Agrupamento de containers relacionados */
.habs , .portfolio , .favorito {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 130vh;
  text-align: center;
}

/* Sessão de habilidades */
/* ul de habilidades */
.minhas-habs, .projetos {
  box-sizing: border-box;
  font-size: 14pt;
  padding-left: 40px;
  text-align: left;
}

.minhas-habs li, .projetos li {
  background-color: rgb(17, 16, 16);
  border-bottom-left-radius: 20px;
  box-shadow: 0 2px 3px white;
  margin: 5px 0;
  padding: 5px;
}

/* Formata icones de tecnologia */
.icons {
  background-color: white;
  border-radius: 25%;
  margin-right: 10px;
  width: 27px;
}

/* Sessão portfólio */
.portfolio {
  /* background: url('images/profe-rangel.jpg') no-repeat; */
  /* background: url('https://64.media.tumblr.com/bff245925ee537755c3c3b1f9a3f2a7f/tumblr_oq9smvbNLz1vsjcxvo1_540.gifv') no-repeat; */
  /* background: linear-gradient(rgb(17, 17, 78), rgb(44, 5, 5)); */
  background-position: 40%;
  background-size: cover;
}

/* ul li de projetos */
.projetos li {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 0 20px;
  padding: 8px;
  text-align: center;
  transition: box-shadow 1s;
}

.projetos li:hover {
  background-color: rgba(0, 0, 0);
  box-shadow: 0 5px 4px blue;
}

.projetos li a {
  color: white;
}

.projetos li a:hover {
  font-weight: 700;
  text-shadow: 0 0 5px white;
}

.rodape {
  align-items: center;
  background: linear-gradient(black, rgb(9, 2, 43), black);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
}

.rodape-title {
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
}

.images-container-footer {
  display: flex;
}

.social-network {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 20px;
  width: 100%;
}

.social-network img {
  background: white;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 40px;
}

.social-network img:hover {
  border: 2px solid cornflowerblue;
}

.social-network span {
  margin-left: 10px;
}

/* Animação de títulos superiores */
@keyframes titleAni {

  0% {
    border-top-left-radius: 15px;
    box-shadow: 0 0 15px blue;
  }

  25% {
    border-top-right-radius: 15px;
    box-shadow: 0 0 20px blue;
  }

  50% {
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 5px blue;
  }

  75% {
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 50px blue;
  }

  100% {
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 20px blue;
  }
}

@media (min-width: 700px) {

  .bar-options {
    position: absolute;
  }

  .indice {
    flex-direction: row;
    justify-content: center;
    margin-top: -8px;
  }

  .indice a {
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 18%;
  }

  .titulo {
    font-size: 33pt;
    margin: 280px 0 100px;
  }

  .meu-nome {
    align-self: center;
    font-size: 24pt;
    margin-top: 35px;
    padding: 5px;
    text-align: center;
    width: 60%;
  }

  .sinopse {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-around;
    margin-top: 35px;
  }

  .fotografia {
    width: 50%;
  }

  .foto {
    border-radius: 8px;
    box-shadow: none;
    transition: box-shadow 0.7s;
    height: 400px;
    width: 400px;
  }
  
  .foto:hover {
    box-shadow: -10px 10px 10px blue;
  }

  .description {
    align-items: center;
    box-shadow: none;
    display: flex;
    height: 25rem;
    line-height: 30px;
    margin: 0;
    transition: box-shadow 1s;
    width: 30%;
  }
}

@media (min-width: 900px) {

  .fotografia {
    max-width: 360px;
  }

  .description {
    width: 40%;
  }
}

@media (min-width: 1100px) {

  .indice {
  }

  .indice a {
  }

  .fotografia {
    max-width: 400px;
  }

  .description {
    height: 50vh;
    line-height: 45px;
    width: 50%;
  }
}

/* Testes de bar option */
/* .center {
  / display: flex;
  flex-direction: column; /
  width: 40%;
  position: absolute;
  / top: 50%; /
  / left: 50%; /
  / transform: translate(-50%, -50%); /
  padding: 20px;
  background: #333;
  box-sizing: border-box;
  box-shadow: 0  20px 50px rgba(0, 0, 0, 0.5);
} */

/* h1 não */

/* .skillBox {
  align-self: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.skillBox p {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}

.skill_level {
  background: #0fffb7;
  width: 100%;
  height: 10px;
} */










/* .container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.card:hover .percent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #ff04f7;
} */
