body {
    background-color: #a8e3f7;
    color: #28334f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 145vh;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

.inicio {
    font-family: Pacifico, sans-serif;
    font-size: 45px;
}

.indice {
    list-style-type: none;
    background-color: #0009;
    border-radius: 10px;
    padding: 10px;
}

.indice li {
    margin-bottom: 10px;
}

.indice li:last-child {
    margin-bottom: 0px;
}

.indice li a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border: 2px solid #f00;
    border-radius: 4px;
    padding: 2px 6px;
    font-weight: 500;
    font-family: Verdana, sans-serif;
}

#presentation {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#my-photo {
    border: 2px solid #000;
    border-radius: 10px;
    width: 33%;
    float: left;
    padding: 6px;
    background-color: #1291bbbb;
}

#desc {
    position: absolute;
    top: 104px;
    left: 31%;
    width: 61%;
}

p#desc span {
    font-weight: 900;
    color: #24292e;
}

p#desc span a {
    text-decoration: none;
    color: #0fa36b;
}

.general {
    font-size: 18px;
    line-height: 25px;
    color: #404e5c;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    border: 3px solid #ccc;
    list-style-type: none;
    margin: 35px;
}

.sections {
    font-size: 35px;
}

.habs li strong {
    font-size: 25px;
}

.habs li {
    border-bottom: 1px solid #f00;
    text-align: center;
}

.habs li:nth-child(odd) {
    color: #0fa36b;
}

.links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background-color: #df374a;
    padding: 5px 7px;
    border-radius: 8px;
}