html {
    background-color: #4d6b75;
}

body {
    background-color: #a8e3f7;
    border: 1px solid black;
    color: #28334f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 145vh;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

.inicio {
    font-family: Pacifico, sans-serif;
    font-size: 45px;
}

.indice {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #0009;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.indice li {
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 5px;
    width: 25%;
}

.indice li:last-child {
    margin-bottom: 0px;
}

.indice li a {
    align-self: stretch;
    background-color: #333;
    border-radius: 4px;
    border: 2px solid #f00;
    color: #fff;
    flex-wrap: wrap;
    font-family: Verdana, sans-serif;
    font-size: 1.7vh;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

.indice li a:hover {
    background-color: rgb(123, 136, 143);
    border: 2px solid rgb(221, 172, 172);
}

#presentation {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#my-photo {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 6px;
    background-color: #1291bbbb;
    width: 70%;
}

#my-photo:hover {
    background-color: #136885;
}

#desc {
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.555);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 3.7vmin;
    margin: 0;
    padding: 50px;
    text-align: justify;
    justify-self: left;
    width: 30%;
}

p#desc span {
    font-weight: 900;
    color: #24292e;
}

p#desc span a {
    text-decoration: none;
    color: #0fa36b;
}

.general {
    font-size: 18px;
    line-height: 25px;
    color: #404e5c;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    border: 3px solid #ccc;
    list-style-type: none;
    margin: 35px;
}

ul#portfolio li {
    padding: 3px;
}

ul#portfolio li a {
    font-weight: 700;
    text-shadow: 0px 0px 5px black;
}

ul#portfolio li a:link {
    color: white;
}

ul#portfolio li a:visited {
    color: rgb(212, 228, 228);
}

ul#portfolio li:nth-child(odd) {
    background-color: #bedee9a4;
}

ul#portfolio li:nth-child(even) {
    background-color: #61aecca4;
}

ul#portfolio li:hover {
    background-color: #536168a4;
}

.sections {
    font-size: 35px;
}

.habs li strong {
    font-size: 25px;
}

.habs li {
    border-bottom: 1px solid #f00;
    text-align: center;
}

.habs li:nth-child(odd) {
    color: #0fa36b;
}

.links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background-color: #df374a;
    padding: 5px 7px;
    border-radius: 8px;
}

.sinopse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}