@charset 'utf-8' ;

html , body {
  line-height: 1.34;
  margin: 0;
}

.corpo {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar {
  align-items: flex-end;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;
  display: flex;
  height: 83px;
  justify-content: center;
  min-width: max-content;
}

.menu-bar {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 980px;
  zoom: 1;
}

.menu-bar a {
  margin-left: 5px;
}

.res-dicas-text a {
  color: #385898;
  text-decoration: none;
}

.res-page-celeb a , .locateSelector li > a , .op-list li > a {
  color: #385898;
  text-decoration: none;
}

.res-dicas-text a:hover {
  text-decoration: underline;
}

.res-page-celeb a:hover , .locateSelector li > a:hover , .op-list li a:hover {
  text-decoration: underline;
}

.facebook-logo , .anounce-icon {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/KuTmU9Y4htf.png');
}

.facebook-logo {
  background-position: 0 -245px;
  height: 34px;
  width: 170px;
}

.formulario {
  margin-bottom: 3px;
  width: 392px;
}

td {
  color: white;
  font-size: 12px;
  padding: 0 0 1px 14px;
}

.form-label {
  margin: 0 0 4px;
}

td div {
  padding-top: 4px;
}

td div .forgot-acount {
  color: #9cb4d8;
  text-decoration: none;
}

td div .forgot-acount:hover {
  text-decoration: underline;
}

.data-entry {
  border: 1px solid #ccd0d5;
  border-color: #1d2a5b;
  margin-top: 0;
  padding: 3px;
  width: 142px;
}

.data-login {
  background: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 23px;
  padding: 2px 6px;
}

.data-login:hover {
  background-color: #3b5998;
}

.intro-section {
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  justify-content: center;
  min-width: 980px;
}

.res-section {
  display: flex;
  justify-content: space-around;
  min-width: 980px;
  zoom: 1;
}

.presentation {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.pres-text {
  color: #0e385f;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.presentation img {
  height: 195px;
  width: 537px;
}

.form-container {
  padding-bottom: 46px;
}

.register {
  max-width: 400px;
}

.register-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
}

.res-desc {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}

.register-title div {
  color: #1d2129;
  font-size: 19px;
  font-weight: 400;
}

.user-login-data input , .date-select input {
  border: 1px solid #ccd0d5;
  border-color: #bdc7d8;
  border-radius: 5px;
  color: #1c1e21;
  font-size: 18px;
  margin: 0 0 10px;
  padding: 8px 10px;
  text-align: start;
}

.user-name {
  display: flex;
  justify-content: space-between;
}

.user-name input {
  width: 172px;
}

.user-email input , .user-pass input {
  width: 377px;
}

.info-title {
  color: #90949c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 10px;
}

.date-select input {
  text-align: center;
  width: 172px;
}

.user-gender {
  display: flex;
}

.user-gender input {
  font-size: 12px;
}

.user-gender label {
  color: #1d2129;
  font-size: 18px;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.form-sub-button button {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border: 1px solid;
  border-color: #3b6e22;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  color: white;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  line-height: 126%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.form-sub-button button:hover {
  background: linear-gradient(#73bc5f, #578843);
}

.birth-container {
  align-items: baseline;
  display: flex;
}

.info-message-icon {
  background: url('https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/DQDvQ2X3Nby.png');
  background-position: 0 -236px;
  height: 16px;
  margin-left: 10px;
  width: 16px;
}

.info-message-icon-two {
  margin: 8px 5px 15px 6px;
}

.res-dicas-text {
  color: #777;
  font-size: 11px;
  margin: 1em 0;
  width: 316px;
}

.res-page-celeb {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
  padding-top: 15px;
}

.rodape {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-top: 8px;
}

.lang-selection {
  color: #737373;
  width: 980px;
}

.locateSelector {
  align-items: center;
  color: #737373;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}

.locateSelector li {
  display: flex;
  padding-right: 10px;
}


.locateSelector li a:hover {
  text-decoration: underline;
}

li .more-lang {
  align-items: center;
  background-color: #f5f6f7;
  border: 1px solid;
  border-color: #ccd0d5;
  border-radius: 2px;
  display: flex;
  height: 18px;
  justify-content: center;
  line-height: 18px;
  margin-right: 0;
  width: 30px;
}

li .more-lang:hover {
  background-color: #eff1f3;
}

li .more-lang .list-lang-icon {
  background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/DmtZWLqoTvz.png');
  background-position: -39px -279px;
  background-repeat: no-repeat;
  background-size: auto;
  bottom: 1px;
  height: 12px;
  width: 12px;
}

.division-bar {
  border-bottom: 1px solid #dddfe2;
  height: 8px;
  margin-bottom: 8px;
}

.op-container ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.op-container ul li {
  padding-right: 20px;
}

.link-anounce {
  display: flex;
}

.anounce-icon {
  background-position: -136px -280px;
  height: 16px;
  width: 16px;
}

.trademark-facebook {
  font-size: 11px;
  margin-bottom: 20px;
  margin-top: 20px;
}
