@charset "utf-8";

body,
.memeImageContainer {
  background-color: #f2e74b;
}

.corpo {
  background-color: #010440;
  color: white;
}

form, .options-group {
  background: linear-gradient(blue, #040dbf);
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.memeImageContainer {
  border: 1px solid black;
  box-sizing: border-box;
  height: 450px;
  width: 630px;
}

fieldset {
  background-color: rgb(223, 226, 236);
  border-radius: 4px;
  font-weight: bold;
  padding-top: 5px;
  position: relative;
}

.options-group {
  background-color: #040fd9;
  border: 1px solid blue;
  border-radius: 5px;
}

.op-title {
  font-size: 20px;
  font-weight: 700;
  margin: 2px 0;
  text-align: center;
}

.botoesCamp,
.superMemes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.superMemes img {
  height: 65px;
  padding: 3px;
  width: 65px;
}

.superMemes img:hover {
  background-color: #f2e74b;
}

button {
  background-color: rgba(36, 34, 34, 0.705);
  border-radius: 6px;
  color: white;
  height: 35px;
  margin: 5px;
  transition: background-color 1.5s;
  width: 25%;
}

.buttonUm:hover,
.buttonDois:hover,
.buttonTres:hover {
  font-weight: bold;
}

.buttonUm:hover {
  background-color: #f00;
}

.buttonDois:hover {
  background-color: #00f;
}

.buttonTres:hover {
  background-color: #0f0;
}

.memeImage {
  display: none;
  height: 100%;
  width: 100%;
}

.memeImageContainer {
  min-width: 430px;
  width: 50%;
}

.memeImageContainer,
.memeImage {
  margin: 0 auto;
  position: relative;
}

.memeText {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 30px;
  color: #fff;
  font-family: 'Titillium Web', Helvetica, sans-serif;
  font-size: 1.7em;
  max-height: inherit;
  position: absolute;
  text-indent: 25px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}
