* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(186 , 189 , 192);
  font-family: Josefin Sans, sans-serif;
  font-size: 1em;
  color: rgb(4 , 27 , 4);
  text-align: center;
  font-style: oblique;
  margin: 0;
}

img , ul li {
  margin: 2px;
  padding: 5px;
  border: 2px solid rgb(158 , 175 , 206);
  width: 100%;
  background-color: rgb(172 , 207 , 142);
}

#cabecalho , nav {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(54 , 19 , 19);
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 135px;
}

section , aside {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
  width: 48%;
}

div {
  width: 100%;
}

#esquerda , ul {
  float: left;
}

#direita {
  float: left;
}

ul , ol {
  list-style-type: none;
  list-style-position: inside;
}

ol {
  clear: both;
}

ul li {
  display: inline-block;
  width: 27%;
}

footer {
  margin: 30px 0;
}
