body {
  background: url('https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg') no-repeat;
  background-size: cover;
  margin: auto;
  width: 80%;
}

.rgbColor {
  text-shadow: 5px 5px 3px black;
}

.gameTitle {
  margin-top: 120px;
}

.gameTitle , .rgbColor , .resposta , .dicas , label {
  background-color: rgba(90, 160, 240, 0.4);
  border: 2px solid rgb(0, 50, 50);
  color: white;
  height: 45px;
  text-align: center;
}

.dicas {
  animation: tips 1s linear infinite;
  background: rgba(50, 120, 200, 0.70);
  display: none;
  font-weight: 700;
  height: 100%;
}

.rgbColor , .resposta , label {
  font-size: 20pt;
}

button {
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

button , .pontos-pos , .pontos-neg , label {
  display: block;
  height: 30px;
  margin: 50px auto;
  width: 110px;
}

button:hover {
  border-color: darkgreen;
}

.pontos-pos {
  background-color: rgb(9, 9, 112);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.pontos-neg {
  background-color: rgb(255, 0, 0);
}

.choose {
  align-items: center;
  background-color: rgba(0, 110, 255, 0.562);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* max-width: 465px; */
  max-width: 165px;
  /* width: 165px; */
}

.ball {
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
  height: 55px;
  margin: 6px;
  width: 55px;
}

.ball:hover {
  border-color: lime;
}

.luz , .coroa , .sol {
  border-radius: 100%;
}

.luz {
  background-color: rgba(255, 217, 0, 0.301);
  box-shadow: 0 0 30px yellow;
  height: 150px;
  margin: 10px;
  position: absolute;
  top: 0;
  width: 150px;
}

.coroa {
  background-color: rgba(255, 140, 0, 0.301);
  box-shadow: 0 0 25px orange;
  height: 60px;
  left: 45px;
  position: absolute;
  top: 45px;
  width: 60px;
}

.sol {
  background-color: rgb(236, 229, 130);
  box-shadow: 0 0 10px yellow;
  height: 50px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 50px;
}

@keyframes tips {

  0% {
    box-shadow: 0 0 100px yellow;
  }

  100% {
    box-shadow: 0 0 170px cyan;
  }
}
